.main {
  width: 100%;
  padding: 15px 35px;
}

.rightSidebar {
  border: 1px solid rgba(34, 36, 38, 0.15);
  transition: width 0.2s ease-out;
  padding: 30px 15px;
}

.rightSidebar__open {
  width: 500px;
}
.rightSidebar__close {
  width: 0px;
  overflow: hidden;
  padding: 0;
}
.headerSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.headerSection__title {
  margin: 0;
}

.headerSection__right {
  display: flex;
  align-items: center;
}
.headerSectionUser {
  margin-left: auto;
  width: max-content;
  display: flex;
  align-items: center;
}
.headerSectionUser__avatar {
  background-color: antiquewhite;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  text-transform: uppercase;
}
.headerSectionUser__name {
  text-transform: uppercase;
}
