.main {
  padding: 15px 35px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.rightSidebar {
  border: 1px solid rgba(34, 36, 38, 0.15);
  transition: width 0.2s ease-out;
  padding: 30px 15px;
}
.rightSidebar__open {
  flex-basis: 500px;
}
.rightSidebar__close {
  width: 0px;
  overflow: hidden;
  padding: 0;
}
.headerSection1__title {
  margin: 0;
}
.headerSection1__user {
  display: flex;
  align-items: center;
}
.headerSection1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerSection1__avatar {
  background-color: antiquewhite;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  text-transform: uppercase;
}
.headerSection1__name {
  text-transform: uppercase;
}
.headerSection2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
