.headerSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.headerSection__title {
  margin: 0;
}

.headerSection__left {
  display: flex;
  align-items: center;
}
